*{
}
#username {
    margin: 5px 0 2px 7px;
}
#password {
    margin: 2px 0 2px 10px;
}
#email {
    margin: 2px 0 2px 33px;
}
#datepicker {
    margin: 0 0 2px 80px;
}
select {
    font-size: 14px;
}
.calendar-container button {
    border: none;
    background: none;
}

.calendar-container button:hover {
    color: red;
    cursor: pointer;
    font-weight:bold;
}
#datepicker {
}
input#datepicker {
    background: url(calendar.png) no-repeat right;
    background-size: contain;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 8px;}

td {
    width: 50px;
    height: 30px;
    text-align: center;
}

td.days:hover {
    background: rgba(136, 243, 243, 0.83);
    cursor: pointer;
}
td.week {
    font-weight: bold;
    color: red;
}
/* td:hover {
    background: aqua;
}
 */
div#calendar-dates {
}

/* div#calendar-header {
    background: aliceblue;
    border-bottom: 1px solid gray;
    padding: 4px;
    text-align: center;
}

div.calendar-container {
    width: 300px;
    border: 1px solid;
    padding: 6px;
    position: absolute;
} */